body {
  font-family: 'Verdana', sans-serif;
  margin: 0;
  background-color: #121212;
  color: #ffffff;
}

header {
  background-color: #121212;
  text-align: center;
  padding: 20px;
  border-bottom: 4px solid #b71c1c;
}

.logo {
  width: 120px;
  margin-bottom: 10px;
}

h1 {
  font-size: 2.5em;
  color: #43a047;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 15px;
}

nav li {
  margin: 5px;
}

nav a, nav button {
  color: #f44336;
  background: none;
  font-weight: bold;
  border: 1px solid #f44336;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

main {
  padding: 20px;
}

table {
  width: 100%;
  margin-top: 10px;
  background-color: #222;
  border-collapse: collapse;
  color: #37ff00;
}

table th, table td {
  border: 1px solid #555;
  padding: 10px;
  text-align: center;
}

footer {
  background-color: #1b1b1b;
  text-align: center;
  padding: 15px;
  border-top: 4px solid #43a047;
  font-size: 14px;
}
